*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.container-nav{
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar{
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}
.nav-bar button{
    padding: 0.2rem;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: none;
}
main{
    height: 100vh;
    overflow: scroll;
    
}
.container-windows{
    margin: 80px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 0.5rem; 
    margin-bottom: 85px
      
}
.window{
    width: calc( (1200px - 3rem) / 7  );
    position: relative;
    flex: 1 1 auto; 
}
.window img{
   display: block;
   width: 100%;
   
}
.utente{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: grey;
    padding: 0.3rem;
    font-size: 12px;
    
}
footer{
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(65, 62, 62);
}
.container-footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-footer{
    display: flex;

}
.button-footer{
    border: none;
    font-size: 1.5rem;
    background-color: rgb(65, 62, 62);
    color: white;
    margin-right: 2rem;
}
    
/* .mute{
    font-size: 0.8rem;
    color: white;
}
.stop-video{
    font-size: 0.8rem;
} */
.name-icone{
    font-size: 0.8rem;
    color: white;
}
.end-meeting p{
    color: red;
}
.end-meeting{
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
}