*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar{
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}
.nav-bar button{
    padding: 0.2rem;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: none;
}